.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #800020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-class {
  font-family: 'Vesper Libre', serif !important;
  /* font-size: 2.5em !important; */
}

.menu-item {
  font-family: 'Montserrat', sans-serif !important;
  /* font-size: 1.5em !important; */
  margin-bottom: 0 !important;
}

.menu-desc {
  font-family: 'Montserrat', sans-serif !important;
  /* font-size: 1.33em !important; */
}

.menu-group {
  padding: 2em 0em;
  background-color: #fff !important;
  padding-left: 1em;
  padding-right: 1em;
}

.seg {
  background-color: #800020 !important;
}

.dividers {
  width: 75%;
  margin-left: auto !important;
  margin-right: auto !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}